[2015-09-01 00:43] gvansickle opened #1 "Support all ack filetypes"
Currently, we only support the C++ file type.

[2015-09-01 00:52] gvansickle opened #2 "Fill out the README"
It's just stubbed in at the moment.

[2015-09-03 21:04] gvansickle commented on #1
Resolved by 9b23620c8f8f5188eadc05816b4e4cd484340bd5.

[2015-09-03 21:04] #1 closed

[2015-09-04 15:48] gvansickle opened #3 "Remove dependency on Boost"
It's only used for the message queues, which would be simple enough to implement directly in C++11.  Eliminates an extra download for builders.  Maybe make Boost optional, for comparison of queue implementations.

[2015-09-04 15:51] gvansickle opened #4 "Add autoversioning support to build infrastructure"
Determine and append git repo hash that's being built, or use .tarversion.  Determine if repo is modified and add that info to the version report.

[2015-09-04 15:53] gvansickle opened #5 "Add Autotest"
- Compare performance to ack, ag
- Determine performance vs. number of threads.

[2015-09-04 17:28] gvansickle opened #6 "Implement directory include/exclude"
Currently the command line params do nothing.

[2015-09-04 17:30] gvansickle opened #7 "Add --word-regexp functionality"
Currently not implemented.

[2015-09-04 17:41] gvansickle opened #8 "Support directory argument"
Currently unimplemented.

[2015-09-04 21:12] gvansickle opened #9 "Line component parsing is incorrect in FileScanner::Run()"
The positions in the lines aren't being calculated properly.

[2015-09-04 21:29] gvansickle commented on #9
Resolved by commit 07e7f2e158348af3b53f18b22be336eddca3ac45.

[2015-09-04 21:29] #9 closed

[2015-09-06 02:48] #8 closed

[2015-09-06 19:44] gvansickle opened #10 "ax_cxx_compile_stdcxx_11.m4 puts flag in CFLAGS, should be AM_CFLAGS"
Fix this, also change default of "-O0" to "-O2" or 3.

[2015-09-06 19:52] #2 closed

[2015-09-06 21:14] gvansickle commented on #10
Resolved by 1aa463a65c073a57fff909d0feb16328df8e1dd1.

[2015-09-06 21:14] #10 closed

[2015-09-07 18:28] gvansickle opened #11 "Get configure.ac order sorted"
It's not in the order recommended by the Autoconf docs.

[2015-09-07 19:46] gvansickle commented on #11
Resolved by 7506cfc3f4bb00e003c1f5e7c55b1755016ed5e8.

[2015-09-07 19:46] #11 closed

[2015-09-08 00:07] gvansickle opened #12 "Fix configure.ac BUG-REPORT-ADDR and website link"

[2015-09-08 01:58] #12 closed

[2015-09-10 23:49] gvansickle opened #13 "Clean up warnings"

[2015-09-11 00:02] #13 closed

[2015-09-18 01:27] gvansickle opened #14 "Switch from mmap to read (was: Linux threads all on one core)"

[2015-09-20 01:08] gvansickle commented on #14
It ends up that mmap (and specifically munmap) were causing the slowdown; after switching to read/open/close, forcing the thread affinities to particular cores appears to make little difference.

[2015-09-20 02:14] gvansickle commented on #14
Resolved by 48276de86e722e7c777b238cec7378e03809a3bb.

[2015-09-20 02:14] #14 closed

[2015-09-22 00:36] gvansickle opened #15 "Configure: Detect bad std::regex lib (e.g. gcc 4.8.x)"
Some std::regex libs, in particular the one shipping with gcc 4.8.x, are essentially just stubs and do not function correctly, even though the compiler ostensibly supports C++11.  Detect this situation at configure (or possibly build) time and output an appropriate error message.

[2015-09-24 23:49] #15 closed

[2015-10-11 02:14] gvansickle commented on #3
Resolved by 5bbc04408a31cdcb561125188f15f0e37c5f3729.

[2015-10-11 02:14] #3 closed

[2015-10-17 18:42] gvansickle opened #16 "Clean up for release 0.1.0."

[2015-10-18 19:27] gvansickle commented on #16
Resolved with commit 8ae1f9f10bbfd03077fe02d58c1e95d5e081f749.

[2015-10-18 19:27] #16 closed

[2015-10-24 22:23] gvansickle opened #17 "No error val return with non-existent search dir"
If you give ucg a search dir that doesn't exist (or otherwise can't be opened), it does not return a non-zero error code.  Also no error message is printed.

[2015-10-27 00:12] gvansickle commented on #5
Resolved with 0c70f34f1bc7496fc47dd1bd7d915410310466b1.

[2015-10-27 00:12] #5 closed

[2015-10-30 00:59] gvansickle commented on #17
Resolved with c589547ceb77199eb3f35c3fcaabd601448acb5d.

[2015-10-30 00:59] #17 closed

[2015-10-31 21:00] gvansickle opened #18 "Add version to --help"
Currently there's no version info printed with "--help".  "--version" does contain the info.

[2015-10-31 21:13] gvansickle opened #19 "Test for issue #17 is broken."
The test in sanity.at for issue #17 fails, when it should either pass or be an expected failure.

[2015-10-31 23:21] gvansickle commented on #19
Resolved by 0f2a57230433687c9884366ae317dcecc844394c.

[2015-10-31 23:21] #19 closed

[2015-10-31 23:23] gvansickle opened #20 "No files found on Ubuntu/gcc5.2.1"
ucg compiled with gcc (Ubuntu 5.2.1-22ubuntu2) 5.2.1 20151010 does not find any files in the ~/src/boost* test.

[2015-11-01 03:36] gvansickle commented on #20
Resolved with 7eb6f04521842587b669843ed2969f99c0710b78.

[2015-11-01 03:36] #20 closed

[2015-11-01 18:51] gvansickle opened #21 "Update autoconf-archive m4 macros"
New autoconf-archive version 2015.09.25, update.

[2015-11-01 19:02] gvansickle opened #22 "Test: Capture versions of other programs"
Right now we only capture the version of ucg.  Capture the ack and ag versions as well.

[2015-11-01 19:05] gvansickle commented on #22
Also capture at least ucg's compile options.

[2015-11-01 19:37] gvansickle commented on #21
Resolved with 21efd6e52f1e0445a77f7547643a3f45abbeb921.

[2015-11-01 19:37] #21 closed

[2015-11-08 23:07] gvansickle opened #23 "Get building on MinGW-64"
Currently there are issues with at least the argp lib.

[2015-11-09 00:39] #6 closed

[2015-11-12 23:54] gvansickle opened #24 "Add --recurse."

[2015-11-12 23:56] gvansickle opened #25 "Add --no-recurse."
Separate from --recurse issue because this one requires additional logic to implement.

[2015-11-13 01:17] #24 closed

[2015-11-13 01:27] gvansickle opened #26 "Add config file support."

[2015-11-15 02:22] #25 closed

[2015-11-15 02:44] gvansickle opened #27 "make distcheck is failing"
"ERROR: files left in build directory after distclean:
./tests/perf_test_results.txt"

[2015-11-15 03:58] #27 closed

[2015-11-17 00:23] gvansickle opened #28 "Implement --type= option."

[2015-11-21 19:23] gvansickle opened #29 "Add --match PATTERN option."
Explicit specification of PATTERN as an option arg.  Should be pretty easy.

[2015-11-21 22:40] #28 closed

[2015-11-22 19:43] gvansickle opened #30 "Add --literal option."

[2015-11-22 22:04] #7 closed

[2015-11-28 19:14] gvansickle opened #31 "Add optional pcre support"
C++ <regex> implementations as of this writing (gcc 5.2, clang 3.7) are buggy (gcc) causing SIGSEGVs due to use of recursion, or non-existent (clang on Linux).  Add configure-time support for libpcre and see if that's any better.

[2015-11-30 23:45] gvansickle opened #32 "Add file types that ack detects as text"
ack 2.x scans every file to see if it's text or not.  At least as a temporary measure, add as many of these as practical as types; we can come up with a scan-for-binary algorithm later.

[2015-12-01 00:35] #32 closed

[2015-12-06 17:50] gvansickle opened #33 "Improve logging"
Currently we're just using std::clog and std::cerr.  Come up with a better way, which can be at least somewhat controlled by command-line params.

[2015-12-06 17:57] #26 closed

[2015-12-06 18:02] gvansickle opened #34 "Add --noenv"

[2015-12-07 01:35] #31 closed

[2015-12-12 23:11] gvansickle opened #35 "Files with ~100k matches result in long periods of no output"
The way the MatchList/OutputTask mechanism and/or the line-finding mechanism currently work can result in long periods without any output in certain cases.  E.g. if you do this:
[code]
endifs.txt ends up being about 4MB/46000lines, every line containing an endif.  If you then do a:
[code]
and your only files are files such as endifs.txt, there can be long periods (minutes) where there is no consol

[2015-12-13 01:33] #34 closed

[2015-12-20 20:15] gvansickle opened #37 "Gracefully handle regex compile errors"
Currently FileScanner::FileScanner() throws an exception when regex compilation or study fails, and there's nothing to catch it.  On Cygwin 64 (at least), this results in e.g.:
"
terminate called without an active exception
[2]    3448 abort (core dumped)  ./ucg --noenv '[]' ~/src/boost_1_58_0
"
We should at least not dump core in this situation.

[2015-12-20 21:13] #30 closed

[2015-12-20 21:54] gvansickle opened #38 "Add file type specification support."

[2015-12-20 21:56] gvansickle opened #39 "Add --help-types option."

[2015-12-20 22:00] gvansickle opened #40 "Add --TYPE support."

[2015-12-20 22:07] gvansickle opened #41 ""ERROR:" message when user has no .ucgrc in home directory"

[2015-12-21 01:57] #41 closed

[2015-12-22 02:53] gvansickle opened #42 "TypeManager::notype() too simplistic, doesn't match ack behavior."
When "--noTYPE" is given to ack, all extensions for that type are no longer matched, even if they appear in another type.  Because notype() only removes the entry for the type from the active type map, ucg doesn't do this.  The ack behavior is more correct.  This behavior should probably extend to all file filter types.

[2015-12-23 00:29] #42 closed

[2015-12-26 21:02] #37 closed

[2015-12-27 02:52] gvansickle opened #43 "ucg fails if pattern contains capturing subpatterns"

[2015-12-27 03:14] #43 closed

[2015-12-29 01:26] #38 closed

[2015-12-29 01:26] #39 closed

[2015-12-29 01:26] #40 closed

[2015-12-31 22:20] gvansickle opened #44 "Add at least a minimal man page"
rpmlint complains, and we really should have something.

[2016-01-03 22:39] #4 closed

[2016-01-05 22:59] gvansickle opened #45 "configure: Check for libpcre > 8.2"
Currently an old PCRE will still be detected and will try to compile, with unsatisfactory results.

[2016-01-14 01:28] gvansickle opened #46 "Coverity CID 53718: File descriptor leak in the m_start_paths logic of Globber::Run()"
Not much of a leak (O(n) in number of paths on command line), but still:

 54void Globber::Run()
 55{
 56        char * dirs[m_start_paths.size()+1];
 57
 58        int i = 0;
   \1. Iterating over another element of this->m_start_paths
 59        for(const std::string& path : m_start_paths)
 60        {
 61                dirs[i] = const_cast<char*>(path.c_str());
 62
 63                // Check

[2016-01-14 01:41] gvansickle opened #47 "Coverity CID 53716,53717: ArgParse::GetProjectRCFilename(): if homedirname.empty() == false, open() could still fail, the home_fd would be invalid in subsequent uses."
Could happen, should be fixed:

451std::string ArgParse::GetProjectRCFilename() const
452{
453        // Walk up the directory hierarchy from the cwd until we:
454        // 1. Get to the user's $HOME dir, in which case we don't return an rc filename even if it exists.
455        // 2. Find an rc file, which we'll then return the name of.
456        // 3. Can't go up the hierarchy any more (i.e. w

[2016-01-14 01:46] gvansickle opened #48 "Coverity CID 53715: Not checking fstat() return code on known-good file descriptor"
I suppose fstat() could fail here, leading to problems:

30File::File(const std::string &filename)
 31{
 32        // open() the file.  We have to do this regardless of whether we'll subsequently mmap() or read().
 33        m_file_descriptor = open(filename.c_str(), O_RDONLY);
 34
   \1. Condition this->m_file_descriptor == -1, taking false branch

 35        if(m_file_descriptor == -1)
 36

[2016-01-17 00:33] #46 closed

[2016-01-24 01:42] #35 closed

[2016-01-27 01:52] gvansickle opened #49 "Get a .deb binary distribution solution"
ucg builds on Ubuntu and Debian, but it's a minor hassle.  Come up with a .deb binary install solution.

[2016-01-28 18:19] gvansickle opened #50 "Extra newline at the beginning of tty output."
Special case this one, maybe moving the newline generation to OutputTask.

[2016-01-30 21:02] gvansickle opened #51 "Add performance comparison to grep"
We're on par with grep speed-wise.  Add comparison to test suite.

[2016-01-30 22:13] gvansickle commented on #51
Resolved with d9208c02236cf40164d4449237645cbbf4524fb7.

[2016-01-30 22:13] #51 closed

[2016-02-01 02:04] gvansickle commented on #49
PPA set up at https://launchpad.net/~grvs/+archive/ubuntu/ucg.

[2016-02-01 02:04] #49 closed

[2016-02-01 09:52] proggga opened #52 "Key '--color' don't output right for less command"
if you will use
```# ucg --color mypattern | less```
it will be without colored text, and ```less -r``` doesn't work too,
but for example:
```git diff --color=always| less -r```

Please check it out

[2016-02-01 09:59] proggga commented on #52
Yes, I've checked this,
It doesn't write color symbols to file, or any kind of pipe
Checked on 'openSUSE 13.2 (Harlequin) (x86_64)'

[2016-02-01 14:51] gvansickle commented on #52
You're right, I see that ack and ag output color symbols to non-ttys when given the --color option.

[2016-02-02 06:17] Patterner opened #53 "Pattern used as File/Directory"
Usage: ucg [OPTION...] PATTERN [FILES OR DIRECTORIES]

ucg: "pattern": No such file or directory

[2016-02-02 22:40] gvansickle commented on #53
Hi @Patterner,
I can't reproduce this.  Can you give me more details?  E.g. platform, ucg --version, if you have any .ucgrc files and their contents?

[2016-02-04 02:45] #52 closed

[2016-02-07 00:44] #22 closed

[2016-02-07 01:08] gvansickle opened #55 "Adopt Developer Certificate of Origin or CLA"

[2016-02-08 19:59] #50 closed

[2016-02-08 22:00] gvansickle opened #56 "Use git describe --long for autoversioning."

[2016-02-08 23:16] gvansickle opened #57 "Compile with -Werror=format-security"
This will help security-harden the codebase.

[2016-02-09 00:12] #56 closed

[2016-02-09 00:12] #57 closed

[2016-02-13 22:55] #48 closed

[2016-02-13 23:01] gvansickle opened #58 "Clean up warnings"

[2016-02-14 03:02] #58 closed

[2016-02-14 21:43] #45 closed

[2016-02-14 22:14] gvansickle commented on #18
Deciding to not do this.  It doesn't seem to be common, and that's why we have --version anyway.

[2016-02-14 22:14] #18 closed

[2016-02-17 01:11] gvansickle opened #59 "Add --[no]column support."

[2016-02-17 01:33] gvansickle opened #60 "Return exit status of 1 on no match"
This matches the behavior of ack and grep.

[2016-02-17 01:45] gvansickle opened #61 "Add -c/--count"
Supported in grep, ack, and ag.

[2016-02-17 02:38] #60 closed

[2016-02-18 00:29] #53 closed

[2016-02-18 00:30] Patterner commented on #53
typo in .ucgrc, sorry.

[2016-02-18 00:33] Patterner opened #62 "Display all matches, not just the first one"
"ag" highlights all the matches on a line and "ucg" does not. it would be a nice enhancement.

[2016-02-22 01:57] #47 closed

[2016-02-23 09:27] ismail opened #63 "Doesn't seem to work with hidden files"
[code]

[2016-02-24 00:18] gvansickle commented on #63
I can replicate this, whether I specify the file on the command line or if it should be getting picked up during directory traversal.  I'll look into it.

[2016-02-24 01:19] gvansickle commented on #63
Ok, I see what's happening.  I can solve this, but the hidden file will still have to have an extension which ucg recognizes as text; e.g., your ".foo" example above still won't work, but ".foo.cpp" would.  This almost matches the behavior of `ack -k`, except for when you explicitly pass ".foo" on the command line, ack treats it as text.  I'll file a bug for the latter, it's harder to solve.

[2016-02-24 01:23] gvansickle opened #64 "Always treat files given on the command line as text."
That appears to be ack's behavior, even when -k is specified.  It's probably principle of least surprise as well.  Related to #63.

[2016-02-24 02:20] #63 closed

[2016-02-27 22:56] gvansickle opened #65 "Specify performance test sources as a configure param or make var"

[2016-03-01 00:47] #59 closed

[2016-03-03 00:40] gvansickle opened #66 "Add -k/--known-types option."
For compatibility with ack.  Will be a no-op at the moment since we only look at files we know the type of.

[2016-03-03 01:00] #66 closed

[2016-03-06 17:34] gvansickle opened #67 "Harden --noenv detection, rc file parsing"
- ArgParse::Parse()'s --noenv detection currently doesn't account for '--'.
- ArgParse::ConvertRCFileToArgv() should reject non-option arguments and '--'.

[2016-03-06 22:05] #67 closed

[2016-03-20 18:45] gvansickle opened #68 "Implement --smart-case"
Both ag and ack support --smart-case.

[2016-03-20 18:54] gvansickle commented on #62
`ack` does this as well.

[2016-03-20 22:05] gvansickle opened #69 "Matches aren't getting "move-pushed" into MatchList via MatchList::AddMatch()"
Appears that they're not coming into AddMatch() in a move-able form, and vector<>::push_back(const &) is the overload being selected.  Also check for similar issues in other areas, e.g. sync_queue operations.

[2016-03-30 01:06] gvansickle commented on #69
Per valgrind, significant improvements in number of allocations/deallocations on the "ucg '#endif' ~/src/boost_1_58_0" test:

/usr/bin/ucg (0.2.1-0-g5241710-tarball):
==3035== HEAP SUMMARY:
==3035== in use at exit: 72,704 bytes in 1 blocks
==3035== total heap usage: 371,363 allocs, 371,362 frees, 531,783,357 bytes allocated
==3035==

./ucg (0.2.1-58-gd5dbab4):
==3015== HEAP SUMMARY:
==3015== in us

[2016-03-30 01:20] #69 closed

[2016-04-03 00:18] #68 closed

[2016-04-11 00:21] gvansickle opened #70 "Add version sanity checks to "make distcheck""
Check that versions have all been updated.  This would include configure.ac, NEWS.md, README.md, and the "git describe"-defined version that's printed in --version.

[2016-04-17 05:14] DavidEGrayson commented on #23
I started working on this tonight.  The way I try out interesting new C/C++ software is that I make an MSYS2 package for it.  You can follow my progress here:

https://github.com/DavidEGrayson/mingw-packages-deg/tree/master/mingw-w64-ucg

[2016-04-17 08:32] DavidEGrayson commented on #23
I got ucg to compile, link, and run, on MSYS2 as a MinGW-w64 program but it seems to be buggy: it only finds matches in the top-level directory.

[2016-04-17 15:37] evandrix opened #71 "any <3 for OSX?"

[2016-04-17 18:54] gvansickle commented on #23
Hi @DavidEGrayson ,
Thanks for your interest!  Yeah, I've been picking away at this issue as well.  You may want to look at what I've got so far at [feature/ISSUE23-BuildOnMINGW64](https://github.com/gvansickle/ucg/tree/feature/ISSUE23-BuildOnMINGW64).  The main thing I've run into is that I need to pull in a ton of gnulib just for argp and fts.  And like you even once that's sorted it doesn't wan

[2016-04-17 18:57] gvansickle commented on #71
Unfortunately I don't have an OSX system to develop and test against, so probably not in the near future.

[2016-04-17 19:27] John-Colvin commented on #71
travis-ci offer OS X testers, so it's possible to use that if you can put up with the slow turnaround.

[2016-04-17 19:44] gvansickle opened #72 "Remove or better conditionalize MemDiags"
It breaks on FreeBSD, and valgrind seems to do it better from the outside anyway.

[2016-04-17 19:50] gvansickle commented on #71
I'll look into that, thanks @John-Colvin .

[2016-04-17 19:59] gvansickle opened #73 "Check performance against ag, grep for large files"
Investigate reports of slow performance vs. ag on large files.

[2016-04-17 23:07] sumit0190 commented on #71
@gvansickle I haven't looked deeply into the code yet, but would we only have to use getopt instead of argp to get it working on OS X (apart from other minor things, like remove sed -r, ofcourse)? I believe I can help you out with some of those things.

[2016-04-18 00:10] gvansickle opened #74 "Check performance with a large number of cores/threads"
Investigate reports of the default number of threads being non-optimal on a dual six-core processor, which shows up as 24 cores to std::thread::hardware_concurrency().

[2016-04-18 00:15] gvansickle commented on #71
Hi @sumit0190 ,
I honestly don't know.  I don't want to give up argp and lose the automatic help it generates.  I don't know what other changes might be needed.

[2016-04-18 02:11] sumit0190 commented on #71
@gvansickle
I decided to myself that I would hack around to get it running on OSX, and I was able to. There's a bunch of small things that the user would need to do, but nothing that we can't code into the makefile. We will still need to ask the users to install PCRE and standalone-argp using brew, but again, that's not a big deal. I can make these changes if you want me to.

[2016-04-18 13:52] gvansickle commented on #71
Hi @sumit0190 ,

Good to hear that there's nothing major in the codebase and/or build system that would need to fundamentally change; I've been trying to keep it as cross-platform as possible, while not having all the platforms I'd like to have available for testing.

I have to plead almost complete ignorance when it comes to all things Apple.  How do FOSS projects generally distribute their apps

[2016-04-18 13:58] John-Colvin commented on #71
Homebrew seems is the preferred package manager for open source developers on OS X these days. There is also macports.

As long as the usual download, untar, configure, make, make install works then it will be trivial to add to homebrew.

[2016-04-18 14:04] John-Colvin commented on #71
an example homebrew script for ucg:

[code]

would also need a `test` block to be actually accepted

[2016-04-18 14:10] John-Colvin commented on #71
Here's an example `.travis.yml` file to start with:

[code]

[2016-04-18 14:26] sumit0190 commented on #71
@gvansickle
Homebrew is the most common packaging system used by just about every Mac developer. Macports has been waning in popularity over the years, but it still has a following.
Developing libraries and packages for the Mac typically don't have to go through the App Store, so you can rest easy knowing that packaging UCG for Mac is just a matter of correctly configuring your Makefile and adding

[2016-04-19 00:37] DavidEGrayson commented on #23
Thanks for the reply!  I might dig into this later, and I suspect I will find that there are issues with Gnulib's fts implementation on mingw-w64 that are causing these problems.  I had similar problems a year ago when I tried to compile recursive grep:

* MinGW's `st_ino` field is always zero instead of being an inode number from the filesystem, which means that fts cannot accurately detect recur

[2016-04-19 04:43] DavidEGrayson commented on #23
Yeah, the problem I was talking about where ucg doesn't search in any directories except the top-level one was caused by st_ino always being zero.  In my MSYS2 package, I now apply a patch to Gnulib's fts-cycle.c so it ignores nodes with `st_ino` equal to zero when checking for cycles.

I can now run `make check` and only four tests are failing:

[code]

[2016-04-19 23:21] gvansickle commented on #55
Added DCO in CONTRIBUTING.md on commit e9991bd632aa465981ff31f05e7ecdbd8c2d70b0.  Resolved.

[2016-04-19 23:21] #55 closed

[2016-04-19 23:25] gvansickle commented on #23
The st_ino thing is going to break ArgParse::is_same_file() too.

[2016-04-19 23:32] gvansickle commented on #73
One report mentions that the files were XML log files "4MB on average, but up to 50MB".

[2016-04-20 00:53] gvansickle commented on #71
Welp, let's get it started!  I pulled a branch for this here: https://github.com/gvansickle/ucg/tree/feature/OSX. I'm starting with @John-Colvin 's .travis.yml and fleshing things out.  @sumit0190 , feel free to send me a PR; Note that I just added a Developer's Certificate of Origin: https://github.com/gvansickle/ucg/blob/master/CONTRIBUTING.md.

[2016-04-20 12:58] gvansickle commented on #71
@John-Colvin , @sumit0190 : Well the good news is, I have travis-ci building ucg for Trusty, the not-as-good news is that the OSX build is failing during link.  But I think that's about the last thing I have to get sorted out.

[2016-04-20 13:08] sumit0190 commented on #71
@gvansickle Would you be able to share the log here so I can take a look? I might have an idea on what's going wrong during the OSX build.

[2016-04-20 14:06] kirbyfan64 commented on #71
https://travis-ci.org/gvansickle/ucg/jobs/124464159

[2016-04-20 14:19] sumit0190 commented on #71
Aah, it's exactly as I expected. The PCRE headers and PCRE libraries do not match in the system's default search path. You can get around this by doing something like:
` ./configure CPPFLAGS="-I/usr/local/Cellar/pcre/8.38/include" LDFLAGS="-L/usr/local/Cellar/pcre/8.38/lib"`
or by exporting those variables beforehand.

[2016-04-21 02:17] gvansickle commented on #71
@sumit0190 Possibly, but I shouldn't have to.  configure is finding the library:

[code]

So it's unclear to me why it could find it there, but not at compile time.  Too tired to beat on this further tonight.....

[2016-04-21 02:21] sumit0190 commented on #71
Apparently this is a known issue faced by other people as well:
[https://github.com/openresty/openresty/issues/3](https://github.com/openresty/openresty/issues/3)
Anyway, you might wanna try doing that tomorrow to see if it works.

[2016-04-21 12:41] gvansickle commented on #71
Oof.  And people accuse Windows of "DLL hell"....

[2016-04-22 12:30] gvansickle commented on #71
Ok, so quick status update:
- I've now run about a million travis-ci builds, so much so that GitHub blocked Homebrew access for a time.
- The libpcre problems are the "rpath/LD_LIBRARY_PATH" issue that is the plague of Unii everywhere.  Homebrew installs libpcre into /usr/local/Cellar/pcre/, and autoconf et al has never handled this sort of situation sanely.  I ran into this a few years ago on Ubu

[2016-04-22 12:46] sumit0190 commented on #71
@gvansickle I was about to send you a PR, but then I saw that your feature/OSX branch contains almost all the changes that I suggested (except that you didn't determine the OS type and used sed -E in the Makefile).
I am certain I didn't face the libpcre issue when I built UCG a few days ago, but I can try building it again on a VM this time. I also didn't run the testsuite at all; I'll do that ASA

[2016-04-22 12:55] John-Colvin commented on #71
w.r.t. to homebrew pcre and header locations, they should be available in `/usr/local/lib/` as well as `Cellar`. E.g. on my machine (without all the `share` stuff, for clarity):
[code]

[2016-04-22 22:43] gvansickle commented on #71
They're not though.  Homebrew has pcre as a "keg_only" package apparently, and hence leaves it unlinked and only under /usr/local/Cellar/...etc.  There's a libpcre already installed on the travis-ci VM at /usr/local/, but it for some reason is missing at least one function I'm using.  Hence the need for some sort of rpath-based solution.

[2016-04-24 15:30] gvansickle commented on #71
So here's me, thinking that if I set up a FreeBSD (PC-BSD actually) VM, that'd at least be closer to OSX than anything I've tested on locally so far.  O.M.G.  I can't even get programs to link to libstdc++ without a manual "-Wl,rpath" and/or LD_LIBRARY_PATH silliness.  Not been a fun weekend.  I was able to work around some of the different tool behaviors though (wc -l == 7 spaces, then the line c

[2016-04-24 17:21] gvansickle opened #76 "Cygwin now requires AC_USE_SYSTEM_EXTENSIONS for access to get_current_dir_name()"
As of about the middle of April 2016, current Cygwin now requires AC_USE_SYSTEM_EXTENSIONS to find get_current_dir_name().  Even though we're doing a configure-time check for that function which passes, it breaks the build, probably because we aren't doing the check with the current language as C++.

[2016-04-24 19:34] #76 closed

[2016-04-26 08:51] #72 closed

[2016-04-26 23:47] sumit0190 commented on #71
@gvansickle Any tips for debugging the test failures? The logs aren't that helpful.

[2016-04-27 23:45] gvansickle commented on #71
@sumit0190 Yeah, tell me about it. ;-)  Are you talking about the logs on Travis-CI, or were you able to run "make check" as you mentioned [above](https://github.com/gvansickle/ucg/issues/71#issuecomment-213412886)?  From the former, I guess the best lead is this failure:

[code]

Those results make no sense.  11 and 12 passing means that all kinds of matching variations were tested and passed, ye

[2016-04-28 01:12] gvansickle commented on #71
O.M.G.  That might somehow be it.  I just downloaded the "raw" log from travis-ci and guess what?  Yep, CR line endings on the file.  Now supposedly OSX, and particularly the Unix tools, have been using \n-only for some time according to the Internet(tm), but maybe something never got the word?

[2016-04-28 02:00] gvansickle commented on #71
Ok, this is interesting:

[code]

I did not expect to be picking up libpcre under /usr/local/opt/.  In fact, I'm trying to explicitly set rpath at link time to the Homebrew directory.  @sumit0190 , @John-Colvin , @anybody, what do you guys make of this?

[2016-04-28 02:29] sumit0190 commented on #71
That is weird indeed; I wonder if this has something to do with the Homebrew libpcre package. I do remember seeing plenty of issues with it.
Regardless, we still don't know why so many tests fail. I don't think the line endings are the culprits here; OSX hasn't seen '\r' since ages now. And running `make check` and examining the logs isn't great help. You think it would be easier to just place bre

[2016-04-28 13:17] gvansickle commented on #71
Well, if it's linking to the wrong library, which it looks like it is, I'm certain that's a major part of the problem.  I just don't understand how it's picking up that particular one when (AFAICT) I'm literally hardcoding the runtime path to pick up the Homebrew one.  [Why. Does. Every. Moment. Have. To. Be. So. Hard.](https://getyarn.io/yarn-clip/0a3ab0e5-deaa-49e7-8550-cd2df08a7636/gif)

Defini

[2016-04-28 17:23] John-Colvin commented on #71
Might have mentioned this before, but just in case:
Homebrew installs to Cellar but also links/copies to /usr/local. You should
pretty much never have to specify paths in to Cellar directly unless you're
dealing with a package that is "keg only", which I'm pretty sure libpcre is
not.
On 28 Apr 2016 2:17 pm, "Gary R. Van Sickle" <notifications@github.com>
wrote:

That is weird indeed; I wonder if t

[2016-04-28 22:41] gvansickle commented on #71
Hi @John-Colvin ,
Right, you did mention that.  Homebrew's pcre lib is in fact either keg_only (which I think is the case, but I can't recall now why I think that), and/or gets overridden by the libpcre that is already installed on the OSX instances Travis-CI is giving me.  And either way, having it link to `/usr/local/opt/pcre/lib/libpcre.1.dylib` when I'm rpathing it to Homebrew is at this point

[2016-04-29 23:00] gvansickle commented on #71
Ok, so there is this:
`brew --prefix pcre=/usr/local/opt/pcre`
I swear that wasn't there before.

[2016-04-30 01:37] gvansickle commented on #71
Ok, so it looks like `OSX`'s `fts` library is broken: https://travis-ci.org/gvansickle/ucg/jobs/126811742

We should be seeing output like this in there:

[code]

So painful.

[2016-04-30 03:30] gvansickle commented on #71
AAAAAAnd got it:

[code]

I know what the three failures are (the thing with BSD `script` I mentioned earlier).  Now I just need to M4/sh around that issue, clean things up a lot, and with any luck OSX will have a new source code searching utility soon.

[2016-05-02 01:30] gvansickle commented on #71
So there's this:
https://travis-ci.org/gvansickle/ucg/builds/127120058

And also the test suite passes on PC-BSD.  Yeah, I'm awesome.  ;-)

[2016-05-02 02:16] sumit0190 commented on #71
Whoa. So what was behind the failing tests?

[2016-05-02 13:33] gvansickle commented on #71
@sumit0190 Long story, but it boiled down to two things:
- The Globber class wasn't finding any files.  This was because it was using the `fts` interface to traverse directory trees and passing the FTS_NOSTAT option.  OSX (at least on the HFS+ filesystem) isn't able to determine regular files without the stat, so they get returned as FTS_NSOK / 11 / "no stat(2) requested", which I was (more or les

[2016-05-04 00:06] #71 closed

[2016-05-04 00:12] gvansickle commented on #71
@sumit0190 , @John-Colvin , @evandrix , @kirbyfan64 , OSX/PC-BSD support is now in trunk!  Currently, you'll have to roll your own, and I'm working on a Wiki entry on that right now, but it's what's in the .travis.yml file.
Try it out and let me know what you think, report issues here, etc.
Thanks everyone for the help and encouragement!

[2016-05-04 00:20] sumit0190 commented on #71
Awesome! I'll try it out tonight and report back! Thank YOU for all the hard work.

[2016-05-04 00:44] gvansickle commented on #71
Ok, OS X build instructions are here: https://github.com/gvansickle/ucg/wiki#experimental-os-x-support.

[2016-05-07 00:52] gvansickle opened #77 "Reduce mutex contention in sync_queue<>."
In sync_queue<>'s wait_push() overloads, the lock is needlessly held around the notify_all().  Also, notify_all() can be changed to notify_one() to only wake up one calling thread, so others aren't needlessly woken up only to find the one added item has been removed by the first thread to get there.

[2016-05-07 23:16] #77 closed

[2016-05-08 14:10] gvansickle opened #78 "Improve File class memory allocation, noexcept"
In non-mmap() mode, the File class currently allocates a new buffer for the file it opens, then deletes it on destruction.  This could be improved so that the buffer is recycled if possible, reducing allocator contention.  Also File has several members that are inherently noexcept but not marked as such.

[2016-05-11 00:36] gvansickle opened #79 "Add support for building with libpcre2"

[2016-05-12 01:01] #78 closed

[2016-05-17 22:33] gvansickle opened #80 "Highlights on wrapped lines extend to full width of terminal."
Here's a screencap:

![highlighterrorscreencap](https://cloud.githubusercontent.com/assets/14008106/15341587/2dd90022-1c55-11e6-93e8-231f59fd33d0.png)

[2016-05-18 00:12] gvansickle opened #81 "Interim builds should have a distinct version number"
The repo rev info is in --version, but it would be better if we used it for the actual PACKAGE_VERSION.

[2016-05-18 00:41] #79 closed

[2016-05-24 23:14] gvansickle opened #82 "Solve the sed -r vs. sed -E issue once and for all."
"sed -r" keeps popping up, while OSX only understands "sed -E".  GNU sed silently understands -E, but we shouldn't count on it.  Fix this once and for all with some Autoconf voodoo.

[2016-06-03 01:05] gvansickle commented on #33
Resolved by 2868f6f.

[2016-06-03 01:05] #33 closed

[2016-06-04 21:31] kirbyfan64 opened #83 "-k is mostly useless"
By default, `--known-types` is on. And there's no way to turn it off! In particular, this means that there's no reason for `-k`, since the feature is already on. Idea: make `-k` be an "off" switch for it.

[2016-06-04 21:33] kirbyfan64 opened #84 "Add --include=/--exclude= or equivalent file filters"
`ag` has `--ignore=...`. `ucg` seems to require `--type-add='whatever:is:...' --nowhatever`. This can be somewhat annoying at times...

Maybe add a `--filter`/`--nofilter` argument set? It would take arguments like `--type` does, so one could use it like `--filter=ext:c` or whatever.

[2016-06-05 20:41] gvansickle commented on #84
`ack` has `--ignore-file=filter` for this same purpose.  `grep` has `--exclude=FILE_PATTERN`.

[2016-06-07 22:59] gvansickle commented on #83
Hi @kirbyfan64 .  I added `-k` for command-line compatibility with `ack`.  It defaults to on because that's currently the only way `ucg` works: a file has to match it's list of known file types, or it gets ignored under the assumption that it's either binary or of no interest to the user.
I do intend at some point to add support for scanning all files which look like text by default (which is what

[2016-06-08 01:03] gvansickle opened #85 "Make directory traversal multithreaded"
It ends up that a large portion of the execution time is spent traversing the directory tree.  Experiments show that this can be sped up by dividing the traversal work among more than one thread.

[2016-06-09 17:21] kirbyfan64 commented on #83
@gvansickle Ah, that makes sense! Is there a way to explicitly scan file extensions that `ucg` doesn't know about? I would a lot with languages that aren't super-popular, so `ucg` ends up always showing nothing when I use it on those projects.

[2016-06-11 02:12] gvansickle commented on #83
Hi @kirbyfan64 .

Well, there's a way to make ucg know about new extensions: the [File Type Specification feature](https://github.com/gvansickle/ucg#file-type-specification).  For each new language, you add a line like this to your [~/.ucgrc file](https://github.com/gvansickle/ucg#configuration-ucgrc-files):

[code]

You do that once, and then `ucg` will treat files with those extensions just like

[2016-06-11 19:03] #85 closed

[2016-06-11 23:32] gvansickle commented on #84
@kirbyfan64 , how are you using ucg?  Are you using pre-built binaries, or building from a tarball, or building from a git clone?

[2016-06-11 23:47] kirbyfan64 commented on #83
@gvansickle Sweet, that works! Do you want me to close this now?

[2016-06-11 23:47] kirbyfan64 commented on #84
@gvansickle Git, though I admittedly haven't updated in a month. Probably should around now...

[2016-06-11 23:53] gvansickle commented on #84
@kirbyfan64 Ok great.  I just pushed multithreaded dir tree traversal, so that's worth picking up, and I'm working on this issue now, and with any luck will have it done this weekend.  Building binary distros is a major pain, so it's good to know you'll be able to pick this up as soon as I merge it to master.

[2016-06-11 23:58] gvansickle commented on #83
@kirbyfan64 No, I'll close it when I do the final merge.

[2016-06-18 01:56] gvansickle commented on #84
Ok @kirbyfan64 , FYI: I'm getting there.  As of e8f71bb3e71467241ed5043091bbd6896d378848 (feature/ISSUE84-IncludeExclude), I have `ack`-style `--ignore-file=FILTER:FILTERARGS` working, and `grep`-style `--exclude=GLOB` working "good enough".  I may not get all the above options feature-complete (I think ag `--ignore=GLOB` might just be files, not dirs) or 100% how I'd like (integrating glob patter

[2016-06-18 21:14] kirbyfan64 commented on #84
@gvansickle Thanks!

[2016-06-19 01:06] #84 closed

[2016-06-19 01:09] gvansickle commented on #84
There you go @kirbyfan64 !  See trunk, let me know what you think.

[2016-06-20 00:08] gvansickle opened #87 "General Refactoring"
Do some cleanup that I've been meaning to do.

[2016-06-20 00:17] gvansickle opened #88 "Integrate glob matching options more fully with the file-type filters"
The glob-style file include/exclude options added in #84 are fairly well integrated and definitely usable.  However, there are corner-cases in which they do not behave as expected (see for example the expected-fail --include/--exclude=GLOB tests in type_inclusion.at).  Resolve these, probably by better integrating the glob logic with the file-type mechanism.  Exactly how TBD.

[2016-06-20 01:01] kirbyfan64 commented on #84
@gvansickle Thanks! It works really well! Out of curiosity, is there eventually going to be a way to exclude directories?

[2016-06-20 02:01] gvansickle commented on #84
Hi @kirbyfan64 ,
From the `--help`:
`--[no]ignore-dir=name, --[no]ignore-directory=name
                             [Do not] exclude directories with this name.`
Now, the dir name has to match exactly, at least currently; if you're asking about globbing etc of dir names, that's a definite maybe.  Please file an enhancement request to that effect if you think it would be a useful feature.
Take car

[2016-06-23 01:06] gvansickle opened #89 "Optimize the num_lines_since_last_match count, move to FileScanner base class"
See the "/// @todo Optimize this count."'s in FileScannerPCRE.cpp and FileScannerPCRE2.cpp.  These loops end up taking a surprising amount of CPU even after gcc's optimizations.  Make this a base-class member and optimize it.

[2016-06-23 01:21] #87 closed

[2016-06-26 16:15] gvansickle opened #90 "segfault in microstring::length()"
string.hpp lines 93/94:
[code]

The `tmp` needs an & in front of it.

Also, constructor not working correctly for strings less than 3 chars long.

[2016-06-26 17:02] #90 closed

[2016-06-29 18:23] gvansickle commented on #80
Resolved on branch feature/ISSUE87-GeneralRefactoring, commit 5908009c640b93daa670e1e958dd84a09b7d3223.

[2016-06-29 18:26] #80 closed

[2016-07-09 20:57] #89 closed

[2016-07-23 17:52] #82 closed

[2016-07-23 20:02] gvansickle commented on #64
This also ties in with "no such file or directory" handling.  E.g., when given two paths, one which doesn't exist and one which does, `ack` will print an error for the non-existent dir, search the existing dir, and return success (0).  But if the existing dir is not specified, it returns an error (1).

[2016-07-24 21:30] gvansickle opened #91 "Make compiler support of ISA extensions optional at configure-time"
Currently, the build won't succeed if the detected compiler can't generate binaries with SSE4.2 and POPCNT Intel ISA extensions, even though the code at runtime handles the lack of these ISA extensions with appropriate portable fallbacks.  This prevents building on other architectures.  Handle this situation more gracefully.

[2016-07-26 03:11] #64 closed

[2016-08-12 01:09] gvansickle opened #92 "Trailing \s+ will match newline, causing std::length_error exception."
A pattern such as '#define\s+' will match the '\n's in the following, only stopping when the "B" is matched:

[code]

This is happening with the PCRE2 engine with the regex compile using PCRE2_MULTILINE.  Haven't checked PCRE1.

[2016-08-13 13:47] gvansickle commented on #92
Interesting results with other tools.  Each handles this situation differently.  Given the following input file:

[code]

We get the following results:

[code]

[code]

[code]

[code]

[code]

[2016-08-13 15:03] gvansickle commented on #92
`sed` (sed (GNU sed) 4.2.2) behaves as if \s doesn't match an EOL character.  Same input file as above:

[code]

[2016-08-15 02:05] #92 closed

[2016-08-30 00:56] gvansickle opened #93 "Implement unique prefix matching for --TYPE command line params."
For feature parity with at least `ag` and `ack`, which both support `--py` while we need the full `--python`.

[2016-09-01 01:27] gvansickle commented on #73
As above, No evidence of slowness relative to ag on large (500MB) files.  GNU grep 2.25 with -E (i.e. not PCRE) does seem to have a slight edge (0.72 vs. 0.62 secs) on single-file searches of ~500MB, but that's not the use case for `ucg`, which wins in multi-file PCRE regex testing.  Will watch this, benchmarks are now in the test suite, but otherwise closing as cannot reproduce/invalid.

[2016-09-01 01:27] #73 closed

[2016-09-03 16:46] gvansickle opened #94 "Outgrowing argp for argument parsing?"
It seems like we're having to go to more and more effort to work around the limitation that argp only works with a set of arguments known at compile time.  We need to support options which are known only at arg parsing time, introduced (or removed) by other command-line params (specifically the --type-{add,set,del} options, combined with --TYPE lookup).  We currently support this with a pre-scan o

[2016-09-03 18:23] gvansickle commented on #93
Note on support for `--noTYPE`:
- `ag` doesn't support that syntax.
- `ack` does support this, with the expected ambiguity detection behavior, i.e.:
[code]

[2016-09-04 00:19] #93 closed

[2016-09-04 08:18] eigengrau opened #95 "Build fails when CXXFLAGS=-march=native"
I’ve noticed that compilation fails (using gcc 6.1.1) when ucg is configured with `CXXFLAGS` set to `-march=native`.

[code]

[2016-09-04 17:35] gvansickle commented on #95
Confirmed here on Fedora 24 x86-64/GCC 6.1.1/current master.  I'll take a look.....

[2016-09-04 17:36] gvansickle commented on #95
...and thanks for the report @eigengrau .

[2016-09-05 15:03] gvansickle commented on #95
@eigengrau , what's the native arch for you?

[2016-09-05 15:34] eigengrau commented on #95
I’m on ivybridge. More verbosely, `gcc -march=native -E -v - </dev/null |& grep cc1` gives me

[code]

[2016-09-06 13:09] gvansickle commented on #95
...yeah, I _really_ need to get a new rig ;-).
As I feared, this is going to be another epic battle with Autoconf/Automake and company.  The arch-specific separate compilations of FileScanner_sse4_2.cpp need to not have any additional `-march=` or any other `-msomeisaextension` flags on the command line, but ac/am are specifically designed to let the user (CXXFLAGS) always have the last say.  I ha

[2016-09-06 14:19] kirbyfan64 commented on #95
Or just don't use autotools... ;)

[2016-09-07 00:29] gvansickle commented on #95
@kirbyfan64 Believe me, I _have_ tried.  And not just `cmake` either (which had next to zero docs the last time I tried it, probably worth wasting a few weeks on again), and not just on this project.  I always end up coming back to the GNU Build System AKA Autotools because there almost always is some way to work around whatever problem it is that I run into, and 80% of what I'm trying to do works

[2016-09-07 01:29] kirbyfan64 commented on #95
@gvansickle Haha... I wasn't actually referring to CMake. Tried it once and felt like I lost brain cells... I usually use one of [Fbuild](https://github.com/felix-lang/fbuild) ([the bias is real, though](https://github.com/felix-lang/fbuild/commits?author=kirbyfan64)), [gn](https://chromium.googlesource.com/chromium/src/tools/gn/), or [Waf](https://waf.io) (works really well...when it wants to).

[2016-09-08 02:11] gvansickle commented on #95
Well this just gets better and better.  Guess what OSX has to say about my latest efforts, which work fine on BSD/Linux/Cygwin:
`ld: warning: ignoring file ./src/libsrc_isa_ext_x86_64.a, file was built for archive which is not the architecture being linked (x86_64): ./src/libsrc_isa_ext_x86_64.a`
And of course the link fails.  Grrrrrrr.......

[2016-09-11 22:06] gvansickle commented on #95
...AND I'M SPENT!  And also, `make CXXFLAGS='-march=whatever -mavx -mssewhatever ...` should now work on all platforms (at least x86-64 ones).  @eigengrau , can you update to the latest master and try it again?  I had to resort to libtool, so you'll have to re-`autoreconf -i` your working dir.  Thanks!

[2016-09-12 06:59] eigengrau commented on #95
… and the crowd goes wild! :tada:

I just tested on my work machine (sandybridge) and `-march=native` worked fine. Will try ivybridge in the evening.

[2016-09-12 13:13] gvansickle commented on #95
Excellent!  Let me know and I'll close this issue as fixed.

[2016-09-12 13:59] eigengrau commented on #95
Works on ivybridge just as well! Thanks @gvansickle!

[2016-09-12 13:59] #95 closed

[2016-09-12 23:29] gvansickle commented on #95
We please to aim!

[2016-09-27 17:38] 0-wiz-0 opened #96 "dirname() compatibility"
There are two kinds of implementations of dirname(3), both valid according to POSIX. One modifies its argument, one doesn't but returns a static buffer instead (see http://pubs.opengroup.org/onlinepubs/009695399/functions/dirname.html)
NetBSD provides a version of the second one.
ucg reliable dumps core when it tries to find its home directory, because it calls dirname() on the result of dirname()

[2016-09-27 17:40] 0-wiz-0 opened #97 "malloc_stats() is unportable"
src/MemDiags.cpp calls malloc_stats(), which is a GNU extension and does not exist e.g. on NetBSD.
Please only use it on Linux, e.g. by wrapping it in `#ifdef __linux__`.

[2016-09-28 07:01] gvansickle commented on #97
Hi @0-wiz-0 ,
I'm guessing you're reporting this against the 0.2.2 tarball?    Somebody else reported this a while back (#72), and that whole file has been removed since 0f2b1ca67b1d08f618b9897e3928a296c1c0fe93.  Definitely see [here](https://github.com/gvansickle/ucg/wiki) if you're trying to get ucg working on a BSD; there were a large number of portability improvements made a while back to get

[2016-09-28 07:04] 0-wiz-0 commented on #97
Yes, I filed that bug report against 0.2.2. I looked for `malloc_stats` in issues, but not for the file name. Good that this is already resolved.
And yes, I'd appreciate a release :-)
Thanks!

[2016-09-28 07:04] #97 closed

[2016-09-28 07:32] gvansickle commented on #96
Hmmm:

And here's me like a chump thinking I was being portable just _using_ dirname(). ;-)  Seriously, these APIs that may or may not, but definitely could possibly alter their parameters and/or be using a static buffer but by gum don't look at the buffer for too long or it will segfault all over your shirt belong to that dustbin of history I keep hearing about.

Thanks for the patch; I want to t

[2016-09-28 07:36] gvansickle opened #98 "Prepare and release 0.3.0"
Time to do battle with the RPMs, DEBs, etc etc etc.

[2016-09-30 02:06] gvansickle commented on #96
Hi @0-wiz-0 ,
I just checked in a fix for this on master at 4f782cd.  I went a more C++ish route for the fix, basically wrapping dirname() in a C++ function taking std::strings and encapsulating the strdup()/free() there.

Can you give this version a try and let me know if it fixes the issue?  It passes all my regressions on Linux, OSX, and PC/FreeBSD, but for unknown reasons it always did before

[2016-09-30 09:16] 0-wiz-0 commented on #96
Thanks for the quick fix! I couldn't test it yet though.

First issue: configure.ac uses "==" as test operator in two places, that's not portable, only bash(1) supports it. Use a single "=" instead.

Second issue: the script(1) detection breaks for me, `config.log` has:
[code]
I tried running the tests manually, but both versions work for me on NetBSD-7.99.38/amd64:
[code]
The second version enter

[2016-09-30 13:30] gvansickle commented on #96
If you comment out the `script` check in configure.ac (lines 130-145), can you get through the rest of the build?  Some of the `make check` tests will fail, but you should still get a usable `ucg`.

[2016-09-30 13:45] gvansickle commented on #96
PS: I just changed the two '==' to '=' in configure.ac and committed the change master/HEAD.

[2016-09-30 13:50] 0-wiz-0 commented on #96
Thanks for the `configure.ac` fix.
I've just tested compilation with the `script(1)` detection disabled, and the original problem in this issue is indeed fixed. Thank you!
Except for the `script` test, I found another problem though when compiling with pcre2 (instead of pcre):
[code]
Not sure what this is about (and there's a weird '/' at the start of the line).
The same command works with pcre.
L

[2016-09-30 14:20] gvansickle commented on #96
Hi @0-wiz-0 ,
Thanks for the testing, and thanks again for the original report; like I said, this dirname() issue was never triggering for me on any of the different platforms I've been testing on, even though at least some of them certainly should have segfaulted.  Nor did I ever catch it with valgrind/memcheck.  Who knows how long this would have laid dormant.

Yes, if you would, please open new

[2016-09-30 14:26] 0-wiz-0 commented on #96
Ah, I never answered your question about that: I think I saw the core dump because I'm compiling with stack protector turned on by default.
I'll open more bug reports now :-)

[2016-09-30 14:26] #96 closed

[2016-09-30 14:31] 0-wiz-0 opened #99 "script(1) detection does not work on NetBSD"
When running configure on NetBSD, I see:
[code]
`config.log` has a bit more:
[code]
I tried running the tests manually, but both versions work for me on NetBSD-7.99.38/amd64:
[code]
The second version enters a subshell though. If I run the second version without -q:
[code]

[2016-09-30 14:38] 0-wiz-0 opened #100 "problem with non-JIT pcre2"
`ucg` compiled with pcre seems to work fine.
When compiled with pcre2-10.22, it builds fine but fails for me at runtime with:
[code]
Compiler info:
 Name ($(CXX)): c++ -std=gnu++11
 Version string: "g++ (nb1 20160606) 5.4.0"

ISA extensions in use:
 sse4.2: yes
 popcnt: yes

libpcre info:
 Not linked against libpcre.

libpcre2-8 info:
 Version: 10.22 2016-07-29
 JIT support built in?: no
 JIT targ

[2016-09-30 22:33] gvansickle commented on #100
Hi @0-wiz-0 ,
Does this happen with any regex/literal, or just with 'pcre'.  I.e., does it work at all for you with PCRE2?

[2016-09-30 22:41] 0-wiz-0 commented on #100
This also happens with real regex, like:
[code]

[2016-09-30 22:43] gvansickle commented on #100
Oh, wait:
[code]
No JIT is almost certainly the problem.  Does NetBSD have a JIT-enabled PCRE2 available via its package manager or some other reasonable means?

The question of whether to support a no-JIT PCRE/PCRE2 or not has been nagging at me for some time.  It's part of the secret sauce that makes `ucg` "Faster Than Grep"(tm) in its target use cases.  Conversely, having a completely non-worki

[2016-09-30 22:56] 0-wiz-0 commented on #100
I've just built pcre2 with JIT support, and ucg now works fine both with strings and actual regexp.
Perhaps you can improve the error handling in this case :-)

One other issue: on a PaX MPROTECT system, ucg built this way needs to be marked as not MPROTECT safe. On NetBSD this is done by calling 'paxctl +m ucg' after the build is finished. (see http://netbsd.gw.com/cgi-bin/man-cgi?paxctl++NetBSD-

[2016-10-01 00:00] gvansickle commented on #100
Hi again @0-wiz-0 ,

Indeed.  I think I've decided that I should require a JIT-enabled PCRE/PCRE2 at configure-time, which would eliminate this as an error.

Yeah, I've been wondering when I was going to run into issues with JIT vs. the NX bit.  Thanks for the info; I'll file a separate issue for that.

[2016-10-01 00:14] gvansickle opened #101 "Add PaX MPROTECT support"
Discovered on #100 :

It's not clear, but from a cursory reading of the Wikipedia entry [here](https://en.wikipedia.org/wiki/PaX#Distributions_that_use_PaX), it seems like the real fix here would need to be done in libpcre(2), via the correct ordering of mprotect() POSIX calls on the mmap()ed area it uses for its executable JIT code.

[2016-10-01 18:59] gvansickle commented on #99
Hello again @0-wiz-0 ,

What's a minimally painful way to get a NetBSD VM spun up?  I've just spent way too long trying to get the standard 7.0.1 distro up and going, and I haven't even got a decent shell working yet.  My attempts at setting up and using pkgsrc have been partially successful, but I've clearly overshot the happy path to a working setup.  Something like a NetBSD version of PC-BSD wo

[2016-10-01 19:06] 0-wiz-0 commented on #99
Hi again Gary!

Here's a howto for amazon aws:
https://wiki.netbsd.org/amazon_ec2/

Is that painless enough?

[2016-10-01 21:27] gvansickle commented on #99
Ah, yes, Amazon's AWS/EC2.  I'm not a huge fan of:

Seriously though, I may have to start looking into that angle the way this `ucg` thing is taking the internet by storm.  I knew I'd Go Viral(tm) one day.  ;-)

Actually seriously now:  My definition of "minimally painful" as used here is more along the lines of:

1. No money changes hands, nor potentially changes hands.
2. It comes in the form of

[2016-10-02 00:19] kirbyfan64 commented on #99
Some VirtualBox hard disks containing NetBSD are available [here](ftp://ftp.iij.ad.jp/pub/NetBSD/misc/GCi/). Not sure how old they are, but based on the README, they seems to be from 2011/2012.

There are some disks from 2013 [here](https://sourceforge.net/projects/virtualappliances/files/BSD/NetBSD/).

A torrent for an old version of NetBSD (from 2007) for QEMU is available on a [mirror or FreeOS

[2016-10-02 00:38] gvansickle commented on #99
Thanks @kirbyfan64 , I'll take a look.....

[2016-10-02 01:42] gvansickle opened #102 "Beat ripgrep on all benchmarks, permanently and for all time"
http://blog.burntsushi.net/ripgrep/

While we already win a few, and hold our own on others for the most part, @BurntSushi has found a few bugs and does actually beat us in some cases.

OH NOW IT IS ON! ;-)

[2016-10-02 01:53] kirbyfan64 commented on #102
+1 for the "This Time It's Personal" milestone. ;)

[2016-10-02 14:19] BurntSushi commented on #102
Haha nice, best of luck to ya!

I'll try to highlight some of the most important points from my writeup as they related to `ucg`:

1. `ucg` is *really* fast. It is roughly competitive with `ripgrep` on simple literals. I suspect this is in large part due to PCRE2's JIT, which I know to be quite fast. (I benchmark Rust's regex library against PCRE2's JIT, and there's no obvious winner, although the

[2016-10-02 19:32] gvansickle commented on #102
Hey @BurntSushi ,

Thanks again for the benchmarks and your excellent writeup thereof.

\<blush> Aw shucks, I hate to blow my own horn, so it's especially nice when someone does it for me ;-).  Seriously, like you say, much/most of the credit goes to PCRE/PCRE2's JIT.  In my own testing as well, there's a big hit if JIT isn't enabled.

Definitely; benchmarking _all_ these tools (ucg, rg, ag, ack,

[2016-10-02 21:23] gvansickle commented on #99
Hey guys,

Ok, I have a NetBSD VM up and building `ucg`.  But I can't duplicate the reported issue:

[code]
`config.log` says everything is OK:
[code]

`uname` says this:
[code]

I can't get `script` to give me a version, but `ls -l` says this:
[code]

@0-wiz-0 , what does your `script` size/date look like?  I'm not quite sure where to go from here....

[2016-10-02 22:49] 0-wiz-0 commented on #99
Ok, thank you for testing.
I've debugged this locally some more and found that script couldn't open the corresponding `tty` devices. The usual workaround is to mount ptyfs, which I hadn't done in my build environment. When I do that, I see the same as you. So nothing to see here, local setup error, sorry for the noise :(

[2016-10-02 22:49] #99 closed

[2016-10-03 00:12] gvansickle commented on #99
Ok, no problem.  Is this something common enough that I should maybe put in a configure check for it?  E.g. is every NetBSD user (besides me I guess) going to run into this?

[2016-10-03 12:32] 0-wiz-0 commented on #99
No, this should work by default and only break if you set up chroots and forget to mount ptyfs.

[2016-10-03 13:32] gvansickle commented on #99
Ok, great.  Thanks again.

[2016-10-03 14:07] gvansickle opened #103 "Tabs converted to spaces in file_presentation.at tests"
Something odd is happening on some platforms in some of the file_presentation.at tests.  One example seen while investigating #99 on NetBSD 7.0.1 is this:
[code]
Note the 0x09 at offset 0x12 in test_file.cpp.expected, which is as intended and written in the *.at file, while in stdout_tty this has been converted to four spaces.

[2016-10-03 14:14] gvansickle commented on #103
The tab-to-space conversion appears to be done by `script`:
[code]

[2016-10-04 00:04] gvansickle commented on #103
Looks like `script` is inheriting the current `stty` settings, and they're set to `oxtabs` (expand tabs to spaces) by default on this platform.  Putting an `stty raw` before invoking the command seems to resolve the issue.

[2016-10-06 08:56] gvansickle commented on #103
This has now been fixed on #100 for all platforms except OSX 10.11, which insists on prepending a '^D<backspace><backspace>' which I can't even filter out with sed.  Don't know what's going on there.

[2016-10-06 09:07] #100 closed

[2016-10-06 23:52] gvansickle commented on #103
Since I don't have an OSX 10.11 system available other than through travis-ci, I could use  any help I can get on this one.  I expect this is something obvious regarding ttys that I'm just not getting when it comes to this version of OSX.  Let me know via a comment here or [via email](grvs@users.sourceforge.net) if you think you can help me out with this one.

Thanks in advance,

Gary R. Van Sickl

[2016-10-07 21:04] gvansickle commented on #91
This was fixed on #95 (master 6ba865cb3e82cc7e5a4362bb03ac33fa312eaae7) for at least x86-64.  Still may require some work on i686 and non-Intel arches.

[2016-10-09 18:50] gvansickle commented on #103
Ah, ok, so my workaround is being stymied by this:
https://developer.apple.com/library/content/documentation/OpenSource/Conceptual/ShellScripting/AnExtremeExample/AnExtremeExample.html

[2016-10-09 20:41] #103 closed

[2016-10-24 01:26] #98 closed

[2016-10-26 23:34] gvansickle opened #104 "Cut ripgrep some slack in benchmarks ;-), document how to run benchmarks"
@BurntSushi rightly reported that the 0.3.0 benchmarks do not pass '-u' to rg, thus giving the other utilities which don't look at .gitignore files an arguable unfair advantage.  Address this.

Also, document how to obtain the corpi and run the benchmarks.  This was slated for 0.3.0 (in my best intentions at least), but didn't make it.  Maybe add rg's Linux corpus into the mix as well, it's a more

[2016-10-27 13:47] gvansickle commented on #104
@BurntSushi : In early results, it does looks like you're beating me with the '-u':

| Test Case | built_ucg | inst_ucg | inst_ag | inst_ripgrep | inst_pcre2grep | inst_system_grep | inst_gnu_grep_e |
|-|-|-|-|-|-|-|
| TC2 | 0.266699 | 0.26657 | 1.55662 | 0.181029 | 0.915668 | 0.324283 | 0.322742 |

... and tables don't work in Github issue comments, great.  :-/  Anyway, this is your second benchm

[2016-10-27 15:05] BurntSushi commented on #104
Yeah, my impression is that standard behavior is to not follow symlinks, so ripgrep won't do it by default. If you pass `-L`, then that should do the trick.

[2016-10-27 15:05] BurntSushi commented on #104
Also, I'm kind of surprised at how slow `ag` is for you. Are you running on a VM?

[2016-10-27 23:20] gvansickle commented on #104
Yeah, the Fedora 24 numbers are on Virtual Box.  If github supported tables, I could post the system info my benchmark suite obtains for you here.  I'm working on getting the results into HTML form suitable for posting (graphs and everything), but I'm not quite there yet.  Let me try the table for that specific system:

Test System Details

Parameter	   Value
Distribution	Fedora 24 (Workstation Ed

[2016-10-27 23:29] BurntSushi commented on #104
Yeah, in my testing the silver search does much worse in a virtual machine than on a native system, and my current hypothesis is because of memory maps. You can test it for yourself by passing the `--mmap` flag to ripgrep. I bet you'll see a noticeable slow down. :-)

[2016-10-27 23:33] gvansickle commented on #104
Yep, I've done the experiments too (`ucg` still has some dormant `mmap` code in it if you look hard enough).  I can build for Cygwin, and even there it's a hit.  Not knowing what all is going on under the hood, it sure does seem contrary to what one would expect.  But yeah, with virtualization, it makes a bit more sense that there'd be a hit here.

Similar topic: Have you tried asynchronous I/O fo

[2016-10-27 23:38] BurntSushi commented on #104
@gvansickle I've always heard pretty terrible things about async I/O on Linux, so I've never tried it.

Note that ripgrep does I/O differently from ucg. When it doesn't use memory maps, it reads incrementally. I think ucg just slurps the entire file in at once and then searches it, right?

[2016-10-28 00:22] gvansickle commented on #104
Right.  I try to read the entire file with one read() call.  Honestly I was a bit surprised that worked as well as it does.  Again it's probably due to the use-case: mostly smallish files.  I should gather statistics on that.....

[2016-10-28 00:29] BurntSushi commented on #104
Me too. :P It actually holds up pretty well even on largeish files too. (Look at the subtitle benchmarks.)

[2016-11-01 23:44] gvansickle commented on #44
@larryhynes was good enough to write up a man page on pull request Man page for ucg #105.  Now we need to integrate it into the build system.

[2016-11-02 01:10] gvansickle commented on #44
Hey @larryhynes , now that is high-class!  Doesn't look like too much to touch up, but I did rearrange the --help somewhat, so I'll make that match up.  Thanks again.

[2016-11-02 02:04] larryhynes commented on #44
Great stuff, happy to help.

[2016-11-06 22:41] BurntSushi opened #106 "possible bug with symlink following"
To reproduce:

[code]

In particular, I don't believe there are any recursive directory loops.

Are you perhaps not descending into the symlinked directory because it links to a directory that has already been searched? (Either way, it's at least not a loop.)

[2016-11-06 22:49] BurntSushi commented on #106
Version info:

[code]

[2016-11-07 00:30] gvansickle commented on #106
(note to self, that's current master).

Hey @BurntSushi ,

Coincidentally, I'm right in the middle of reworking the directory tree traversal, so this may get changed in the process.  It's not really a bug though, but I suppose it depends on how you look at it.  E.g. try this:

[code]

Now do something similar with `grep` (note the -R (follow symlinks) vs. -r (don't follow symlinks)):

[code]

That

[2016-11-07 00:39] BurntSushi commented on #106
I admit, it's a little strange for the results returned to vary based on the number of threads you're using, but I can see why skipping previously visited directories might be helpful (if a bit surprising, based on the behavior of others tools).

I just recently added a lock-free parallel recursive directory iterator myself, which also of course has to handle symlinks manually, but it only detects

[2016-11-25 05:01] gvansickle commented on #104
@BurntSushi : I just updated the one benchmark in the README.md.  Sorry it took so long (in more ways than one: now you're winning! ;-))
I still have to document the "how to reproduce" better, but it's still little more than a "make check" away.  hopefully this long weekend.

[2016-11-27 19:22] gvansickle opened #107 "Support both `--noopt` and `--no-opt` no-options"
It's aggravating to type one when you need the other.  I don't see a real consensus amongst various tools, so support both styles.

[2016-11-28 02:14] #44 closed

[2016-12-11 04:49] #62 closed

[2016-12-13 04:57] gvansickle opened #108 "Default to physical traversal with --follow option."

[2016-12-13 15:07] #108 closed

[2016-12-15 00:43] sergeevabc opened #109 "[EXPIRED] Windows binary"
Dear Gary,
Could you be so kind to generate ```.exe``` for the rest of us who are merely users w/o compiler?

[2016-12-15 01:02] kirbyfan64 commented on #109
YES PLEASE, especially on Windows. I wanted to burn something after spending ~30 minutes trying to build ucg under Cygwin. It baffles me that people complain about C/C++ development on Linux...

[2016-12-15 01:05] gvansickle commented on #109
Hey @sergeevabc , good to hear from you.  I'd _love_ to, and in fact it's been on the todo list here for a long time: see #23 , "Get building on MinGW-64" (that's effectively native Windows).  The problem so far has been that I'm depending on two libraries which don't exist for native Windows: the fts file traversal library and the argp library.  I'm rewriting the code to eliminate the dependency

[2016-12-15 01:07] sergeevabc commented on #109
@gvansickle, thank you for a quick reply. I believe it’s called ```static exe```, i.e. no-dependencies.

[2016-12-15 01:14] gvansickle commented on #109
Hey @kirbyfan64 , good to hear from you again!  What were the issues trying to build under Cygwin?  Just the normal Cygwin issues that it kinda/sorta/isn't native Windows, or was it something with the `ucg` configuration etc?  Cygwin is definitely one of the primary supported platforms, and I believe I've made some improvements recently to the autoconf etc. infrastructure which should streamline t

[2016-12-15 01:22] sergeevabc commented on #109
@gvansickle, by the way, check [ripgrep][1]: it mentions ugc and offers executable.

[2016-12-15 01:46] kirbyfan64 commented on #109
Normal Cygwin crud.

Maybe you'd find [this](http://www.kylheku.com/cygnal/) interesting; it's a project to let people distribute Cygwin-compiled binaries.

[2016-12-18 16:01] gvansickle commented on #109
Hey @sergeevabc , @kirbyfan64 ,

I looked into this again, and argp is at this point the main stumbling block; there appears to be no real option for MinGW.  There are some which purport to be, but they're old and I can't get them to build.  I wrote up #94 a while ago questioning whether to roll my own arg parsing, and this is one more good reason to do so.

[2016-12-18 17:02] kirbyfan64 commented on #109
@gvansickle Maybe you'd find [TCLAP](http://tclap.sourceforge.net) interesting?

[2016-12-18 17:47] gvansickle commented on #109
Thanks @kirbyfan64 , that's one I hadn't seen before.  It does look interesting.....

[2016-12-18 19:00] gvansickle commented on #94
Yet another issue is no good argp option on MinGW, per discussions on #109.

[2016-12-18 22:29] gvansickle commented on #109
Hmmm, yeah, it's coming back to me now:
[code]
This is gonna be like the OSX thing all over again ;-).

[2016-12-18 22:39] kirbyfan64 commented on #109
Wait, are you trying this natively, or inside Cygwin? Because, if it's nativel, you're going to have to rewrite everything that uses `fcntl.h`...

[2016-12-19 01:46] gvansickle commented on #109
I want to have a native Win64 executable, if for no other reason than to be all things to all people... well, some things to the most people practically possible at any rate.  Like I said, it already builds and runs fine under Cygwin; but even I (a Cygwin user/sometimes-contributor since the Cygnus days) think it's a bridge too far to ask people to install Cygwin just to get the awesomeness of `uc

[2016-12-19 09:38] sergeevabc commented on #109
Other multi-platform greps are distributed as standalone .exe perfectly fine: [sift][1], [pt][2], [ripgrep][3].

As for Cygwin, I see [this Iconv][4] depends on it and [that one][5], standalone and static, does not.

[1]: https://sift-tool.org/download
[2]: https://github.com/monochromegane/the_platinum_searcher/releases
[3]: https://github.com/BurntSushi/ripgrep/releases
[4]: http://gnuwin32.sour

[2016-12-25 00:43] equal-l2 opened #110 "Homebrew formula"
Currently I'm working on new `ucg` formula for submitting to homebrew-core.

Build fails with following error.
[code]
Configure summary:

[code]

Full formula:
[code]

Feel free to tell me if any further information is needed.

Additionally, I'd appreciate if you could provide some test for formula's `test` block.

[2016-12-25 23:09] equal-l2 commented on #110
@gvansickle

I've found that Homebrew has a mechanism called _superenv_ to override compiler flags with their favorite one, which includes `-march`.
Installation has succeeded once I have disabled the mechanism

Unfortunately, the test should be done only by installed files.
(Homebrew has binary-installation mechanism, which not includes original build scripts)

However, I have noticed Homebrew on

[2016-12-26 18:56] gvansickle commented on #110
Hey @equal-l2 ,

Installation has succeeded once I have disabled the mechanism

Fabulous!  I see `superenv` mentioned in the [Formula Cookbook](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#superenv-notes), but it's pretty light on details.  Could you copy-paste the compile command line it generates _before_ the disabling?  I added some filtering of the options to the multi

[2016-12-26 19:15] equal-l2 commented on #110
@gvansickle

This is a part of the log from _superenv_.

[code]

I'd be grateful if you do so.

[2016-12-26 20:26] gvansickle commented on #110
Hey @equal-l2 ,
[code]
Ah, I see what they did there.  They did the equivalent of:
[code]
i.e., the makefiles consider the C++ compiler to be that whole string; I'm only filtering CFLAGS/CXXFLAGS.  That's probably going to require a non-trivial amount of additional non-fun battling with Automake <shudder>.  I think your solution in the Homebrew formula is the right way to go for now.  I've pulled

[2016-12-26 20:45] gvansickle commented on #110
Yep, I just reproduced the original issue here on Fedora with this:
[code]
Good find!

[2016-12-26 21:13] kirbyfan64 commented on #110
Sometimes I wonder if it takes more effort using the autocrap tools than just writing a configuration shell script manually...

[2016-12-27 01:18] gvansickle commented on #110
Well, this time it didn't turn out so bad, just two more lines in the Makefile.am.

But we feel each others' pain.  About half of the languages I know are either primarily or solely connected with the `GNU Build System` (aka "autotools", among other names ;-)), and that's only a marginal exaggeration.  I mean seriously, *m4*?

Putting on my Karnak turban, what I think we just might see soon is a w

[2016-12-27 04:35] kirbyfan64 commented on #110
I think part of the trouble is:

Almost no one can agree on how to describe the build process, let alone how to actually build (IDE generator? hashes vs timestamps?), and then the ones that cover all use cases are too complicated too figure out...

[2016-12-30 03:22] gvansickle commented on #110
Hi again @equal-l2 ,

Sorry it took so long, but I finally cut a new tarball for `ucg` version 0.3.2: https://github.com/gvansickle/ucg/releases/tag/0.3.2.  This should not require the `env :std` to build under Homebrew.

I'll post this in the Homebrew-core issue as well.  Let me know how that tarball works; travis-ci is showing no problems, so <fingers crossed>.

Thanks again,
GRVS

[2016-12-30 15:51] gvansickle commented on #110
Hi @equal-l2 ,

I see [your pull request](https://github.com/Homebrew/homebrew-core/pull/8220#pullrequestreview-14659272) has been rejected again.  In addition to the ~stylistic comments about the *.rb, there appears to be a real `ucg` issue as well which I can reproduce.  If I try your test:
[code]
I get no matches.  So something's broken, which is pretty odd since it passes `make check` and `mak

[2016-12-30 18:49] gvansickle commented on #110
Hi again @equal-l2 ,
I've found it and it looks like I fixed it, and I added a regression test for it.  I'm going to do some more testing, and I have one legitimate (but benign at the moment) Coverity issue to fix, then I'll spin 0.3.3.
Again my apologies for the inconvenience, and thanks again for your efforts.
GRVS

[2016-12-30 20:56] gvansickle commented on #110
Ok @equal-l2 , third time's the charm:
https://github.com/gvansickle/ucg/releases/tag/0.3.3
Thanks again,
GRVS

[2016-12-30 23:35] gvansickle commented on #65
Some work has been done on this sporadically on other Issues, it just needs a bit of TLC.

[2016-12-31 21:30] gvansickle commented on #110
Hey @equal-l2 ,
So it's been approved and merged!  I've tried `homebrew install ucg` and it installs and works fine.  This is remotely via Travis-CI since I don't have an OS X machine myself, but that's probably better anyway, since it installs against several OS X versions and configurations.
Again, thanks a million, this is just great.  I'll keep this Issue open until I get a chance to update th

[2017-01-14 02:16] gvansickle opened #111 "sync_queue<> is a bottleneck"
In informal and not-so-informal testing, it looks like the sync_queue<> class, in particular the instance transferring the found files from DirTree to the scanners, is a significant bottleneck to performance.  Address that.

[2017-01-14 02:21] gvansickle commented on #111
Opened feature/ISSUE111-sync_queue for this work.

[2017-01-15 16:02] gvansickle commented on #111
Some improvements made in bdeba2bf4bebe6857c76bc866f7b5dded23e4291.  Marking this resolved.

[2017-01-15 16:02] #111 closed

[2017-01-17 02:09] gvansickle commented on #94
Argp replaced with [The Lean Mean C++ Option Parser](http://optionparser.sourceforge.net/) as of e988aab.  Closing.

[2017-01-17 02:09] #94 closed

[2017-01-17 02:11] gvansickle commented on #107
Implemented as part of #94 .  Closing.

[2017-01-17 02:11] #107 closed

[2017-01-28 03:16] gvansickle opened #112 "options after non-options not working properly"
After the switch to The Lean Mean C++ Option Parser, specifying options after non-options is resulting in some sort of memory corruption issue.  gnu == true is specified.

[2017-01-28 18:08] gvansickle commented on #112
Pulled branch for this work at bug/ISSUE112-options.

[2017-01-28 18:09] gvansickle commented on #112
There's also a small memory leak in ArgParser.

[2017-01-28 21:11] #112 closed

[2017-01-29 08:47] equal-l2 commented on #110
Closing since the formula has been accepted.

[2017-01-29 08:47] #110 closed

[2017-01-29 17:24] gvansickle commented on #110
Thanks @equal-l2 , I should have done this myself.  I did get the README.md updated, the website not so much.

Thanks again,
GRVS

[2017-02-05 18:03] gvansickle opened #113 "Add context feature"
Add -A/-B/-C options.

[2017-02-16 18:02] kirbyfan64 opened #114 "Error when building using GCC 4.9 on Chrome OS"
[code]

[2017-02-16 18:06] kirbyfan64 commented on #114
I believe the fix is to also test for `-std=c++1y` for C++14 support.

[2017-02-16 19:17] kirbyfan64 commented on #114
Actually, the problem is in autoconf (not really surprised). When it tests for C++14 support, it checks for *strict* compliance, even though ucg doesn't use many of the C++14 features. Maybe it should just check for what is uses?

[2017-02-16 19:46] kirbyfan64 opened #115 "ucg works in x86 systems..."
The readme says:

...but all I had to do was comment out the lines in `src/libextx/integer.hpp` that use `__int128` (which doesn't exist on x86), and it works perfectly...?

[2017-02-18 18:16] gvansickle commented on #115
Hey @kirbyfan64 ,

That's great to know, and IIRC the `__int128` code is where that statement originated.  Since I wrote that, I reworked the code which used it (the file "UUID" code for detecting symlink cycles), so that's likely why it now works again under x86-32.  I'll remove the `__int128` stuff in the repo.

I'm a bit wary of removing that line from the `README.md` though.  Currently I'm doi

[2017-02-18 19:17] kirbyfan64 commented on #115
Couldn't you just pass `-m32` to the cflags? That's what I do for testing ReJit.

[2017-02-19 17:26] gvansickle commented on #114
Yeah, this is where I get super jealous of Python's:
[code]
Post-C++11 is making some baby steps in this direction with the [WG-21 feature testing recommendations](https://isocpp.org/std/standing-documents/sd-6-sg10-feature-test-recommendations), but the interim is a bumpy ride due to different levels of compiler compliance, and we still don't end up with a "from __future__" feature so we can easi

[2017-02-19 17:36] gvansickle commented on #115
Hmm, apparently I can't:
[code]
I'm probably missing chunks of the 32-bit dev environment.

[2017-02-19 18:26] gvansickle commented on #115
...yep, installing all the proper `devel` packages seems to be the trick. ;-)  I'll see if Travis supports `-m32`.

[2017-02-20 01:05] gvansickle commented on #115
It doesn't, but I was able to build 32-bit both locally and via OBS, with "make check" passing on both.  There is a speed hit going to 32-bit, but in most cases not as much as I was suspecting (one benchmark takes way longer though for some reason).  Also, `make dist` was broken, so I fixed that, and updated the README.md to indicate that I'm at least occasionally checking 32-bit functionality.

S

[2017-02-20 01:05] #115 closed

[2017-02-20 15:39] kirbyfan64 commented on #114
That's actually what I'm using! ;)

You can download a USB disk image [here](https://chromium.arnoldthebat.co.uk/?dir=special) and flash it to a USB. Then, boot it up and install [Chromebrew](https://skycocker.github.io/chromebrew/), which will give you Git and GCC out-of-the-box.

Be wary, though: do NOT write the image to any kind of hard drive. Tried that twice, and both times (most recent was

[2017-04-29 00:29] kirbyfan64 opened #117 "Command-line-options section of website looks...crappy"
![ucg](https://cloud.githubusercontent.com/assets/1690697/25551304/55d4d476-2c48-11e7-903d-7b77b3d1c1b9.jpg)
Hmmm...that doesn't look right... :O

Also, slight plug but still cool: I made a [Rootbox script](https://github.com/project-rootbox/rootbox-factories/blob/master/general/ucg.sh) that builds ucg...except it's 100% statically linked and runs on pretty much any Linux system: https://www.dropb

[2017-04-29 22:13] gvansickle commented on #117
Hey @kirbyfan64:
Re: the [Rootbox](https://project-rootbox.github.io/guide.html) script: Excellent, thanks!  Looks like you're doing some good work with that project.
Re: the CLI sections of the page: Yeah, I don't know what happened there.  Especially since the first table renders OK.  From what I gather, GitHub has some issues with tables that I've apparently stumbled over.  I'm trying to conver

[2017-04-30 18:14] kirbyfan64 commented on #117
@gvansickle ...which is why I usually either code sites using Sphinx or just do the HTML by myself. Sometimes I end up spending more time getting crud to work than actually working with it...

[2017-04-30 20:59] gvansickle commented on #117
Amen brother.  Aaaaaaaa-men.

[2017-04-30 21:29] gvansickle commented on #117
Ok @kirbyfan64 , check it out:
https://gvansickle.github.io/ucg/readme/
And I didn't even have to write any Ruby to get it to work (==only half joking).  Closing this as fixed, unless you see any problems on your end.

[2017-04-30 21:29] #117 closed

[2017-04-30 22:18] kirbyfan64 commented on #117
*opens web page*

Oooooooooh...

[2017-05-07 02:17] gvansickle commented on #106
This has been resolved since release 0.3.2 in a few ways:
- The message has been changed to "warning: '<path>': already visited this directory, possible recursive directory loop?"
- Replacement of `fts` lib with hand-rolled DirTree, which behaves the same wrt this issue regardless of the number of threads.

Closing as resolved.

[2017-05-07 02:17] #106 closed

[2017-05-13 17:53] gvansickle opened #118 "Compile error with clang++ 4.0.0 vs. DirTree"
clang++ 4.0.0 doesn't like the *_basename_filter_type's in DirTree.h:

[code]

[2017-05-13 19:23] gvansickle commented on #118
Ends up it's the `noexcept` in the std::function<> template param.

[2017-05-14 01:22] gvansickle commented on #118
Resolved in 395f89046b99afa2807b8aa6193c2ce103535431.

[2017-05-14 01:22] #118 closed

[2017-06-05 11:08] sergeevabc commented on #109
Six months passed. Err… Hello?

[2017-06-05 15:14] gvansickle commented on #109
Six months?!?  Seems like only half a year ago.  If I only had more of those round tuits @sergeevabc !  The good news is that the troublesome dependencies are now gone on the master branch.  The bad news is I'm doing most of my development on Fedora these days.  Thanks for the ping, I definitely haven't forgotten about this.

[2017-09-02 21:19] ZyX-I opened #119 "UCG may refuse to open read-only file"
Tried the following code:

    ucg x /var/log/messages

Surprisingly it failed with

    ucg: error: GetFileDescriptor(): open(/var/log/messages) failed: Operation not permitted

`ag` and `grep` are fine with opening the file. After some research I found that `grep` opens file with `openat` and flags `O_RDONLY|O_NOCTTY`, `ag` opens file with just `O_RDONLY` (after attempting to open it as a direct

[2017-10-06 08:42] fxcoudert commented on #118
This compilation error prevents us from offering ucg to Sierra & High Sierra (macOS 10.12 & 10.13) users in Homebrew. Could you consider making a minor release with this bug fix? Thanks

[2017-11-23 23:36] kkylheku commented on #109
gvansickle writes:

Cygnal provides a replacement for the main CYGWIN1.DLL. If you need additional DLL's, you can just pull them from Cygwin. It's probably a good idea to stay close to the same Cygwin that Cygnal is based from. I just rebased Cygnal to Cygwin 2.9.0 a week ago.

I started the Cygnal project precisely because Cygwin switched to the LGPL license. It is permissible to link even propri

[2017-11-24 08:19] sergeevabc commented on #109
@kkylheku, being a mere user and not a developer, It is difficult for me to follow your thought to the end.
If there is something I should download and execute, let me know, please.

[2017-11-28 23:30] sergeevabc commented on #109
Err… Hello?

[2018-02-12 18:34] #109 closed

[2019-03-08 05:18] hungptit opened #121 "Update the performance benchmark results"
From my latest benchmark results, grep is faster than ucg even though it only uses a single thread. Beside that can you add fgrep into the list?

Below are the performance benchmark results obtained using boost source code and Mark Twain's book in my MacBook pro.

[code]

[2019-03-08 13:56] BurntSushi commented on #121
Could you please give enough details such that someone else can reliably reproduce your benchmark?

[2019-03-08 18:52] hungptit commented on #121
I forgot to include link to my benchmark. You can find a more information about how I create my benchmark here https://github.com/hungptit/fastgrep and all binaries can be downloaded this repo https://github.com/hungptit/tools. Let me know if you need more information.

[2019-09-30 19:07] genivia-inc commented on #102
Love this conversation! Great grep implementations to use and compare!

This got me motivated to spent a couple of weekends coding in C++11 to build a new portable tool **[GitHub ugrep](https://github.com/Genivia/ugrep)**. It has full support for Unicode. Its faster than ripgrep and GNU grep, at least for practical use cases with large files (100MB Wikipedia and 35MB source code) and with lots of

[2019-09-30 20:41] BurntSushi commented on #102
@genivia-inc Neat tool. Looks like you put a lot of work into it. Unfortunately, I have some concerns with the way you're comparing it to other tools.

Firstly, I don't see any way to reproduce your benchmarks. Maybe I skimmed too quickly, but I don't see anything that discusses what actual commands were run, what corpora were searched and what patterns were used.

Secondly, you're benchmarking a

[2019-09-30 21:46] genivia-inc commented on #102
You do not need `sudo` per se, which I agree isn't nice to require. Download RE/flex and build the library locally with `./build.sh`. Then compile ugrep as follows (replace `reflex_path` with the path to the reflex dir):

[code]

The A's to your Q's:

1. The README is updated to include to corpora I used for testing, as well as the non-sudo build steps.
2. I'll take a look at ripgrep 1.5. I've dev

[2019-09-30 23:25] BurntSushi commented on #102
Not really. I have my own set of benchmarks that suggest otherwise: https://github.com/rust-lang/regex/tree/master/bench I don't usually advertise those as they don't come with analysis, but you can compare the numbers the last time I ran my benchmarks against [boost](https://github.com/rust-lang/regex/blob/master/bench/log/07/boost) vs [PCRE2](https://github.com/rust-lang/regex/blob/master/bench/

[2019-10-01 17:30] genivia-inc commented on #102
Thanks for sharing.

This is great and confirms that ripgrep can be beaten (sorry), because I have room left to continue improving ugrep after 1.5.0 for the short word searches that are lacking, e.g. by using SIMD/AVX. These planned improvements will positively affect tests T-2, T-3, T-8, T-9 which you elaborate on in your response and I knew were not yet as fast but faster than ripgrep 0.10.0 (wh

[2019-10-01 20:24] genivia-inc commented on #102
Elementary, my friend. Parallel computing 101. Sorry for thinking a bit fast as it's all in the README if you extrapolate the numbers. This is based on ripgrep 0.10.0 in the README results, but a quick check shows similar numbers for ripgrep 1.5.0.

Recall that for P processors (P = number of cores or threads) we have:

$ S_P = \frac{t_s}{t_P} $ (speedup)
$ E_P = \frac{S_P}{P} $ (parallel efficien

[2019-10-01 22:19] BurntSushi commented on #102
I haven't been able to reproduce it, which is what I meant by evidence. You can spare the condescending lectures in your future responses, thanks.

[2019-10-14 15:40] RuneBergh commented on #102
Filed an issue on it, ugrep doesnt spawn more threads at all it seems, sucks as i was really eager to test this now! Hoping for a quick fix.

Nice write ups, i love to read it all as i learn a lot,  but its a bit sad to talk about parallel computing 101 when the released code doesn't work. I suggest at bit more of a respectful tone, this is all about improving and combining power to really make th

[2019-10-14 15:48] BurntSushi commented on #102
I've done plenty of both. That alone should be pretty clear. No need to talk down.

[2019-10-14 16:40] RuneBergh commented on #102
Im was pretty sure the this time its personal milestone/tag was a joke now im not. Jk, but loosen up, i wasnt talking anyone down, or at least didnt mean to. It should be pretty clear that im hear to learn and evolve and not talk you down. And yes that is pretty obvious that all of you have done plenty of both. Yet the discussion ends up being a lecture in parallel programing 101 Instead of more a

[2019-10-14 16:45] BurntSushi commented on #102
The "why" and "theory" do matter. To build tools like this, it's usually necessary to dig into that stuff. And discussing why something _should_ be faster is absolutely critical, because it's basically akin  to asking questions and either validating them or invalidating them, which is an extremely educational process.

[2019-10-14 17:12] RuneBergh commented on #102
Of course it does! That’s not what I meant exactly. And yes, it is. Discussion is what drives this forward, never said anything about that, baseless claims are not. To say that why something should be faster matters more than what actually is the case is just not right.  My point was that claims that cannot be backed up is reduced from why something should be faster, to why someone thinks somethin

[2019-10-14 18:50] genivia-inc commented on #102
No disrespect intended. I taught 20+ years of computer science to thousands of students and have a habit of explaining, in particular on matters when theory and practice diverge and when practice confirms theory. CS is truly a science of tradeoffs. A zero sum game of algorithms/programs that typically trades increased parallelism and speed for increased energy use and/or increased memory use. Ther

[2019-10-14 19:27] RuneBergh commented on #102
I filed an issue to be able to provide all the needed info there.  While its a somewhat IObound process it  clearly wasnt limited by it as other ways benefited from parallelism. should be possible to do what find piped to xargs to zgrep does, just faster, which is interesting because all zgrep should do is zcat which invokes gzip -cd, and then pipe to grep. Testing with parallel vs xargs shows tha

[2019-10-14 20:07] genivia-inc commented on #102
Cool. Thanks for the details. Will take a look soon.

[2019-11-05 15:51] genivia-inc commented on #102
Your tests ran into an incomplete implementation of decompression and buffering in ugrep, which slowed things down a lot as it decompressed the input byte-by-byte!

Also, your use of `xargs -P8` to run parallel searches seems problematic as I get `vfork` errors running ripgrep 0.10.0 giving incorrect results. The same happens with other greps. Not sure if this is an OS resource limitation of `xarg

[2019-11-07 08:32] RuneBergh commented on #102
ugrep 1.56 is by far the fastest grep for searching compressed logs now. Impressive.

[2021-04-06 08:04] 0-wiz-0 opened #122 "0.3.3 does not compile"
Please make a new release - 0.3.3 does not compile on my system (gcc 9.3.0 on NetBSD 9.99.81/amd64), while git head does.

The error in 0.3.3 is:
[code]

[2021-10-31 02:20] AndersonTorres opened #123 "[bug] HEAD does not compile in ARM"
Hello!
I am Anderson, one of many nixpkgs maintainers in my spare time.

Now we use a CI bot, and according to it UCG does not compile on ARM64 machines:

https://logs.nix.ci/?key=nixos/nixpkgs.143708&attempt_id=8ca3dbc9-e4e9-4559-a751-5f17aea73b10

[code]

[2022-05-28 00:26] csrabak opened #124 "HEAD does not containg configure script"
doing a default cloning of repo brings insuficient code for compiling as the configure script is not available.

[2022-07-29 19:32] gvansickle commented on #124
Hi @csrabak : That's intentional and correct.  ./configure is a generated artifact, and hence does not belong under source control.  It gets generated when you do an autoreconf, as is the normal practice with the auto{make,conf} build system.
A "make dist" will generate this file and include it in the generated distributable; this is where you probably have seen an already-existing ./configure fil

[2022-07-29 19:32] #124 closed

[2022-08-15 20:53] gvansickle opened #125 "Update ucg to >= C++20"

[2022-08-15 20:55] gvansickle opened #126 "Convert build system from Autoconf to CMake"

[2022-08-15 21:17] gvansickle opened #127 "Migrate off travis-ci.org for CI builds/testing"

[2022-08-15 21:27] gvansickle commented on #127
Some info on options and advice on how to "Don’t Let This Happen Again" here:
https://earthly.dev/blog/migrating-from-travis/

[2022-08-15 22:40] gvansickle opened #128 "DoubleCheckedLock.hpp isn't including the correct headers, breaks build."
Not sure what happened there.

[2022-08-16 01:48] gvansickle commented on #128
Fixed and merged to master at commit ga38dac7.

[2022-08-16 01:48] #128 closed

[2022-08-19 02:55] gvansickle opened #129 "Update to optionparser-1.7"

[2022-08-22 18:25] #125 closed

[2022-08-22 20:05] #129 closed

[2022-08-22 23:33] gvansickle commented on #127
Will try out Github Actions.  See e.g.:
https://docs.github.com/en/actions/migrating-to-github-actions/migrating-from-travis-ci-to-github-actions

[2022-08-23 14:47] gvansickle commented on #127
Putting this work on hold for now.  GitHub runners have std lib version 11 atm, currently need version 12.

[2022-08-23 14:59] gvansickle opened #134 "More constexpr in ArgParse."
Continue constexpring the heck out of ArgParse.

[2022-09-03 17:18] #134 closed